* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 8fr;
}

.nav-panel {
    display: flex;
    flex-direction: column;
    background-color: #1992d4;
    color: #FFF;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-left: 10%;
    padding-top: 10%;
    gap: 25px;
}

.nav-panel a {
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-panel img[alt='dashboard'] {
    height: 60px;
}

.nav-panel a img {
    height: 30px;
    padding-right: 15px;
}

.nav-panel a:hover {
    color: #AAA;
}


.upper-nav-panel {
    font-weight: 800;
    font-size: 30px;
    font-style: normal;
    padding-bottom: 10%;
}

.main-nav-panel, .footer-nav-panel {
    font-size: 20px;
    font-weight: 600;
}

.main-nav-panel p, .footer-nav-panel p {
    padding: 5% 0;
}

.upper-panel {
    background-color: #FFF;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    flex: 1;
    border-radius: 10px;
    border: 1px solid #e2e8f0;
    background-color: #e2e8f0;
    margin-left: 10px;
    height: 30px;
    padding-left: 10px;
}

.search img {
    height: 30px;
    padding-left: 30px;
}

.name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
}

.name img {
    height: 60px;
    padding: 0 30px;
}

.name .greeting {
    display: flex;
    flex-direction: column;
}

.name .greeting #first-part{
    font-weight: 600;
    padding-bottom: 7px;
    font-size: 20px;
}

.name .greeting #second-part{
    font-weight: 600;
    font-size: 25px;
}

.little-name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 40px;
    font-weight: 700;
    font-size: 20px;
}

.little-name img[alt='notification'] {
    height: 30px;
    padding: 0 20px
}

.little-name img[alt='avatar'] {
    height: 50px;
    padding: 0 20px
}

.little-name a { 
    color: #000;
    text-decoration: none;
}

.little-name a p { 
    padding: 0 20px;
}

.little-name a:hover {
    color: #6b7280;
}

.buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: end;
    padding-right: 40px;
}

.buttons button {
    height: 40px;
    border-radius: 15px;
    border: 1px solid #FFF;
    background-color: #1992d4;
    color: #FFF;
    font-weight: 500;
    font-size: 15px;
    padding: 0 30px;
    margin: 10px 10px;
}

.buttons button:hover {
    background-color: #FFF;
    color: #1992d4;
    border: 1px solid #1992d4;
}

.main-panel {
    background-color: #e2e8f0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 3fr 1fr;
    overflow: auto;
}

.trending {
    grid-column: 2 / 3;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row: 1 / 3;
}

.project {
    margin: 20px;
    border-radius: 15px;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 5% 95%;
}

.orange-thing {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #f0b429;
    border-radius: 15px;
}

.project p {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 14px;
    padding: 50px 20px 20px 10px;
    color: rgba(0, 0, 0, 0.7);
}

.project h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 20px 10px 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
}